<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;
    charset=UTF-8">
    <title>Create New Account</title>
    <link rel="shortcut icon" href="../top/img/ryo.ico" />
    <link rel="stylesheet" href="../css/create_account.css">
    </head>
    <body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
    <div>Ryo's<span>Create New Account</span></div>
    </div>
    <br>
    <div class="login">
    <form class="login" name="myForm" method="post" action="create_accunt_confirm.html">
        <p class="title">Create New Account</p>
        <input type="text"  name="name" placeholder="NAME" required>
        <p></p>
        <input type="email" name="mail" placeholder="MAIL">
        <br>
        <input type="password" name="pass" id="pass" placeholder="Password" required>
        <input type="password" name="pass2" id="pass2" placeholder="Password Confirm" required>
        <br>
        <input type="submit" value="REGISTER">
    </form>
　　 </div>
</body>
</html>