<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;
    charset=UTF-8">
    <title>LOGIN</title>
    <link rel="shortcut icon" href="../top/img/ryo.ico" />
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/login.js"></script>
    </head>
    <body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
    <div>Ryo's<span>Portfolio</span></div>
    </div>
    <div class="account">
        <input type="button" value="Create Your Account" onClick="CreateNewAcount()">
    </div>
    <div class="contact">
    <form method="post">
      <input type="submit" value="Contact Me">
      <input type="hidden" name="_to" value="bxk9mqzc4869@gmail.com">
      </form>
    </div>    
    <br>
  　<div class="login">
    <form clas="login" name="PA">
        <p class="title">Log in</p>
        <input type="text" name="username" size="20" placeholder="Username">
        <br>
        <input type="password" name="pass" size="20" placeholder="Password">
      <br>
      <i class="fa fa-key"></i>
      <p><a href="">Forgot your password?</a></p>
      <input type="button" value="Log in" onClick="CheckPass()">
    </form>
    </div>
    </body>
</html>    