<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;
    charset=UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" href="./css/login.css">
    <script src="./js/login.js"></script>
    </head>
    <body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
    <div>Ryo's<span>Portfolio</span></div>
    </div>
    <br>
  　<div class="login">
    <form clas="login" name="PA">
        <p class="title">Log in</p>
        <input type="text" name="username" size="20" placeholder="Username">
        <br>
        <input type="password" name="pass" size="20" placeholder="Password">
      <br>
      <i class="fa fa-key"></i>
      <p><a href="">Forgot your password?</a></p>
      <input type="button" value="Log in" onClick="CheckPass()">
    </form>
    <footer><a target="blank" href="">Contact me</a></footer>
    </div>
    </body>
</html>    
